<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wallpaper.management.mapper.WpTagMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tag_name as name, description, wallpaper_count, create_time, update_time, is_deleted
    </sql>

    <!-- 获取所有标签 -->
    <select id="selectAllTags" resultType="com.wallpaper.management.entity.WpTag">
        SELECT
        <include refid="Base_Column_List" />
        FROM wp_tag
        WHERE is_deleted=0
        ORDER BY id ASC
    </select>

    <!-- 获取所有标签 -->
    <select id="selectHotTags" resultType="com.wallpaper.management.entity.WpTag">
        SELECT
        <include refid="Base_Column_List" />
        FROM wp_tag
        WHERE is_deleted=0
        ORDER BY wallpaper_count desc limit 10
    </select>

    <!-- 增加标签关联的壁纸数量 -->
    <update id="incrementWallpaperCount">
        UPDATE wp_tag
        SET wallpaper_count = wallpaper_count + #{increment}
        WHERE id = #{tagId} AND is_deleted = 0
    </update>

</mapper> 
